/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes opacity {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}

@keyframes pendulum {
  100% {
    transform: translateX(4px);
  }
}

.animated-button:focus-visible {
  box-shadow: 2px 2px 0 currentColor;
  outline: none;
  transition: box-shadow 0.3s;
}

.animated-button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.animated-button:hover::after {
  transition: transform 0.5s ease-in-out;
  transform: scaleX(1);
  transform-origin: left;
}

/* стили и анимация svg-иконки */

.sparks {
  opacity: 0;
}

.core {
  transition: fill 0.3s 0.3s linear;
}

.contour {
  transition: fill 0.1s linear;
}

.like-icon:hover .core {
  fill: var(--svg-contour-color);
  transition: fill 0.3s linear;
}

.main-body {
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--svg-contour-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--svg-main-body-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--svg-main-body-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  fill: var(--svg-main-body-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--svg-main-body-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--svg-main-body-color);
  transition: fill 0.3s 0.06s linear;
}

@keyframes heart-scale {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s 0.1s ease-in alternate;
  transform-origin: center;
}

@keyframes sparks {
  100% {
    opacity: 1;
  }
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in alternate;
}
