/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding-block: 100px;
  color: var(--accent-color);
  font-family: var(--main-font), sans-serif;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--wght-normal);
}

.header {
  padding-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
}

.card-list-item,
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
  inline-size: clamp(23.438rem, 16.2859rem + 30.5157vw, 43.75rem);
}

.header,
.theme-menu__button {
  font-family: var(--accent-font), monospace;
  text-transform: uppercase;
}

.title {
  margin-block-end: 20px;
  font-size: clamp(3.063rem, 2.7109rem + 1.5023vw, 4.063rem);
}

.title_description {
  margin-block-end: 25px;
  font-size: clamp(0.875rem, 0.6768rem + 0.8458vw, 1.438rem);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block-end: 25px;
  padding-inline-start: 20px;
}

.theme-menu__button {
  position: relative;
  font-size: 14px;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  animation: opacity 0.3s ease;
  pointer-events: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
  animation: opacity 0.3s ease;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  animation: pendulum 0.5s ease-in-out infinite alternate;
  inset-inline-start: -1em;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  background-color: currentColor;
  transform: scaleX(0);
  block-size: 2px;
  inline-size: calc(100% - 0.7em);
  inset-block-end: -3px;
  inset-inline-start: 5px;
}

.theme-menu__button:focus-visible::after {
  transition: transform 0.3s;
  transform: scaleX(1);
  transform-origin: left;
}

.content {
  margin-inline: auto;
}

.card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-inline: auto;
}

.card_title {
  margin-inline-start: 10px;
  padding-block: 5px;
  font-size: 18px;
  font-variation-settings: "wght" var(--wght-bold);
}

.card_text {
  line-height: 21px;
}

.card_image {
  display: block;
  border-block: 2px solid var(--accent-color);
  transition: filter 0.3s;
  inline-size: 100%;
  block-size: 100%;
  aspect-ratio: 1/1;
}

.card_image-cover {
  position: relative;
}

.card_image-label {
  position: absolute;
  z-index: 2;
  opacity: 0.5;
  font-family: var(--accent-font);
  font-size: 14px;
  text-shadow: -1px 0 var(--text-stroke-color), 0 1px var(--text-stroke-color),
    1px 0 var(--text-stroke-color), 0 -1px var(--text-stroke-color);
  inset-inline-end: clamp(0.688rem, -0.3342rem + 4.3614vw, 1.563rem);
  inset-block-start: clamp(0.688rem, -0.3342rem + 4.3614vw, 1.563rem);
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px white) {
  .card_image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
}

.card_content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  font-size: 18px;
}

.card_button-panel {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-self: flex-end;
  padding: 0;
  block-size: 40px;
}

.card__like-button {
  inline-size: 130px;
}

.animated-button {
  position: relative;
  border: 2px solid currentColor;
  font-family: var(--accent-font), monospace;
  font-size: 14px;
}

.animated-button:focus-visible {
  box-shadow: 2px 2px 0 currentColor;
  outline: none;
  transition: box-shadow 0.3s;
}

.animated-button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.animated-button:hover::after {
  transition: transform 0.5s ease-in-out;
  transform: scaleX(1);
  transform-origin: left;
}

.button__text {
  position: relative;
  z-index: 2;
  color: var(--bg-color);
  mix-blend-mode: difference;
}

.theme-dark .animated-button .button__text {
  color: var(--accent-color);
}

@media (prefers-color-scheme: dark) {
  .theme-auto .animated-button .button__text {
    color: var(--accent-color);
  }
}

/* Состояние focus у кнопок и ссылок обнулено в глобальных стилях */

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
  transition: border 0.3s ease;
}

.card__icon-button {
  border: 2px solid transparent;
  padding: 0;
  aspect-ratio: 1/1;
}

.save-button {
  padding: 15px 20px;
  background-color: var(--bg-color);
}

.save-button .button__text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.floppy {
  inline-size: 21px;
  block-size: 21px;
  flex-shrink: 0;
  flex-grow: 0;
}

/* стили попапа */

.save-popup {
  padding: 30px 40px;
  color: var(--accent-color);
  font-size: 14px;
  background-color: var(--bg-color);
  transition: box-shadow 0.3s;
  inline-size: clamp(21.313rem, 20.9609rem + 1.5023vw, 22.313rem);
}

.save-popup:focus {
  outline: none;
}

.save-popup:focus-visible {
  box-shadow: 2px 2px 0 currentColor;
  outline: none;
  transition: box-shadow 0.3s;
}

.save-popup::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.popup_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.popup_floppy {
  flex-grow: 0;
  flex-shrink: 0;
  inline-size: 39px;
  aspect-ratio: 1/1;
}

.popup_text {
  font-family: var(--accent-font), monospace;
  line-height: 150%;
  text-transform: uppercase;
}

.popup_button {
  margin-block-start: 30px;
  padding: 9px 17px;
  text-transform: uppercase;
  inline-size: 100%;
}

/* стилизация изображений */

.card_image:hover {
  filter: none;
  transition: filter 0.3s;
}

.image-1 {
  filter: sepia(50%) grayscale(30%);
}

.image-2 {
  filter: opacity(0.4);
}

.image-3 {
  filter: hue-rotate(100deg);
}

.image-4 {
  filter: brightness(160%) contrast(0.8);
}

.image-5 {
  filter: blur(3px) saturate(0.4);
}

.image-6 {
  filter: invert(0.6);
}

.image-7 {
  filter: opacity(0.7) saturate(0.6);
}

.image-8 {
  filter: brightness(140%) saturate(140%) hue-rotate(-45deg);
}

@media (width<= 375px) {
  .save-button .button__text {
    flex-direction: column;
  }
  .card-list {
    inline-size: 100%;
  }
  .floppy {
    inline-size: 28px;
    block-size: 28px;
  }
}

