/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --bg-color: #fff;
  --accent-color: #000;
  --text-stroke-color: rgb(255 255 255 / 0.5);
  --accent-font: PressStart2P;
  --main-font: Inter-Variable;
  --wght-normal: 400;
  --wght-bold: 700;
  --bg-image: repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px,
      rgb(211 211 211 / 0) 2px 4px
    ),
    repeating-linear-gradient(#d3d3d3 0 2px, rgb(211 211 211 / 0) 2px 4px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);
  --svg-contour-color: #000;
  --svg-main-body-color: #ff0000;
}
